svg {
    font: 10px sans-serif;
    font-family: 'Times New Roman', Times, serif
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px
}

.overlay {
    fill: non;
    pointer-events: all;

}
.focus circle {
    fill: none;
    stroke: steelblue
}
